/*Font size variables*/
$logo-fontSize: 16px;
$small-fontSize: 15px;
$sectionTitle-fontSize: 36px;
$projectTitle-fontSize: 30px;
$presentation-fontSize: 70px;
$contactCall-fontSize: 50px;

/*breakpoints variables*/
$breakpoint-mobile: 350px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-bigComputer: 1200px;

/*coef for mobile */

.white-Button {
  margin-left: auto;
  padding: 6px 24px;
  color: white;
  border: solid 2px #ffffff;
  border-radius: 12px;
  letter-spacing: 2px;
  transition: background 0.3s ease-out;

  &:hover {
    color: hsl(199, 63%, 15%);
    border: solid 2px white;
    background-color: white;
  }
}
.sectionTitle {
  text-align: center;
  padding: 5% 0;
  font-size: 3rem;
}
